@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;
}

/*Estilos para el header*/

.header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #6B5CFF;
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-bottom: 45px;
    z-index: 100;
    height: 80px;
}

main img{
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

/*Estilos para el main*/

.image{
    width: 150px;
    height: 100px;
    margin-left: 15px;
}

.etapa{
    margin-left: 15px;
    position: sticky;
    top: 10%;
}

.container{
    display: flex;
    margin: 0;
    padding: 0 50px;
    column-gap: 20px;
}

.container-img-text{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container-text{
    display: block;
}

.container-title{
    text-align: center;
    padding: 0;
    margin: 0;
}

/*Estilos boton whatsapp*/

.link-whatsapp{
    border: 1px none;
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    position: fixed;
    width: 85px;
    height: 30px;
    right: 30px;
    bottom: 50px;
    z-index: 90;
    align-items: center;
}

/*Estilos del Footer*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 0;
}

.autor span{
    color: #6B5CFF;
}